bqplot==0.12.36
ipydatagrid==1.1.13
ipyfilechooser==0.6.0
ipywidgets==8.0.2
jupyter==1.0.0
jupyterlab==3.5.0
notebook==6.4.12
numpy==1.23.3
pandas==1.5.0
pydot==1.4.2
tensorflow==2.10.0
tensorflow-addons==0.18.0
voila==0.4.0